* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3B3B98;
}

/* HEADER */

header {
    height: 370px;
    width: 100%;
    background-color: #3B3B98;
    color: #fff;
    align-items: center;
    text-align: center;
    font-family: 'Zilla Slab', serif;
}    

header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

header h1 {
    margin-top: 30px;
}

header h1, h2 {
    font-size: 65px;
}

/* ------------------------------------ */

main {
    height: 435px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Zilla Slab', serif;
}

/* Links */

.whatsapp-link {
    display: block;
    width: 800px;
    border-radius: 10px;
    font-size: 40px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #25D366;
}

.github-link {
    display: block;
    width: 800px;
    border-radius: 10px;
    font-size: 40px;
    margin-top: 40px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #24292e;
}

.linkedin-link {
    display: block;
    width: 800px;
    border-radius: 10px;
    font-size: 40px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #2867B2;
}

.instagram-link {
    display: block;
    width: 800px;
    border-radius: 10px;
    font-size: 40px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #E1306C;
}

.twitter-link {
    display: block;
    width: 800px;
    border-radius: 10px;
    font-size: 40px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #1DA1F2;
    font-family: 'Source Sans Pro', sans-serif;
}

/* ------------------------------------ */

/* Responsiveness */

@media (max-width: 820px) {
    header {
        height: 360px;
    }

    header h1, h2 {
        font-size: 55px;
    }

    .whatsapp-link, .github-link,
    .linkedin-link, .instagram-link, .twitter-link {
       width: 600px;
   }
}

@media (max-width: 650px) {

    .whatsapp-link, .github-link,
    .linkedin-link, .instagram-link, .twitter-link {
       width: 450px;
    }
}

@media (max-width: 480px) {

    header {
        height: 365px;
    }

    header h1 {
        font-size: 45px;
    }

    main {
        height: 390px;
    }

    .whatsapp-link, .github-link,
    .linkedin-link, .instagram-link, .twitter-link {
        width: 350px;
    }
}

@media (max-width: 385px) {
    header h1 {
        font-size: 40px;
    }
}

@media (max-width: 360px) {
    header {
        height: 320px;
    }

    header h1 {
        font-size: 35px;
    }

    main {
        height: 455px;
    }

    .whatsapp-link, .github-link,
    .linkedin-link, .instagram-link, .twitter-link {
        width: 250px;
    }
}

@media (max-width: 305px) {

    header {
        height: 325px;
    }

    header h1 {
        font-size: 40px;
    }
    
    main {
        height: 565px;
    }
}

@media (max-width: 250px) {
    header {
        height: 360px;
    }

    main {
        height: 500px;
    }
}

/* ------------------------------------ */