* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

body {
    background-color:  #5b46a1;
}

/* HEADER */

header {
    height: 400px;
    width: 100%;
    background-color: #5b46a1;
    color: #fff;
    align-items: center;
    text-align: center;
    font-family: 'Lora', serif;
}

header img {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

header h1 {
    margin-top: 30px;
}

header h1, h2 {
    font-size: 50px;
}

/* ------------------------------------ */

main {
    height: 580px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Lobster Two', cursive;
}

/* Links */

.main-links {
    align-items: center;
    text-align: center;
}

#whatsapp-link {
    height: 50px;
    width: 800px;
    border-radius: 10px;
    font-size: 35px;
    cursor: pointer;

    text-decoration: none; 

    color: #fff;
    background-color: #25D366;
    font-family: 'Lobster Two', cursive;
}

#github-link {
    height: 50px;
    width: 800px;
    border-radius: 10px;
    font-size: 35px;
    margin-top: 50px;
    cursor: pointer;

    text-decoration: none; 

    color: #fff;
    background-color: #24292e;
    font-family: 'Lobster Two', cursive;
}

#linkedin-link {
    height: 50px;
    width: 800px;
    border-radius: 10px;
    font-size: 35px;
    margin-top: 50px;
    cursor: pointer;

    text-decoration: none;

    color: #fff;
    background-color: #2867B2;
    font-family: 'Lobster Two', cursive;
}

#instagram-link {
    height: 50px;
    width: 800px;
    border-radius: 10px;
    font-size: 35px;
    margin-top: 50px;
    cursor: pointer;

    text-decoration: none;

    color: #fff;
    background-color: #E1306C;
    font-family: 'Lobster Two', cursive;
}

#twitter-link {
    height: 50px;
    width: 800px;
    border-radius: 10px;
    font-size: 35px;
    margin-top: 50px;
    cursor: pointer;

    text-decoration: none;

    color: #fff;
    background-color: #1DA1F2;
    font-family: 'Lobster Two', cursive;
}

/* ------------------------------------ */

/* Responsiveness */

@media (max-width: 820px) {
    header {
        height: 350px;
    }

    header h1, h2 {
        font-size: 40px;
    }

    #whatsapp-link, #github-link,
    #linkedin-link, #instagram-link, #twitter-link {
       width: 600px;
   }
}

@media (max-width: 650px) {

    #whatsapp-link, #github-link,
    #linkedin-link, #instagram-link, #twitter-link {
       width: 450px;
    }
}

@media (max-width: 450px) {

    header h1, h2 {
        font-size: 35px;
    }

    main {
        height: 490px;
    }

    #whatsapp-link, #github-link,
    #linkedin-link, #instagram-link, #twitter-link {
        height: 40px;
        width: 350px;
    }
}

@media (max-width: 360px) {
    header h1, h2 {
        font-size: 27px;
    }

    #whatsapp-link, #github-link,
    #linkedin-link, #instagram-link, #twitter-link {
        height: 40px;
        width: 250px;
    }
}

/* ------------------------------------ */