* {
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

body {
    background-color:  #5b46a1;
}

/* HEADER */

header {
    height: 400px;
    width: 100%;
    background-color: #5b46a1;
    color: #fff;
    align-items: center;
    text-align: center;
    font-family: 'Lora', serif;
}

header img {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.header-titles {
    margin-top: 30px;
}

.header-titles h1, h2 {
    font-size: 50px;
}

/* ------------------------------------ */

main {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Lobster Two', cursive;
}

/* BUTTONS */

.main-buttons {
    margin-top: 0px;

    align-items: center;
    text-align: center;
    border-radius: 2%;

    font-family: 'Lobster Two', cursive;
}

.whatsapp-button {
    height: 50px;
    width: 800px;
    border-radius: 10px;
    font-size: 35px;
    margin-top: 30px;
    cursor: pointer;

    color: #fff;
    background-color: #25D366;
    font-family: 'Lobster Two', cursive;
}

.github-button {
    height: 50px;
    width: 800px;
    border-radius: 10px;
    font-size: 35px;
    margin-top: 50px;
    cursor: pointer;

    color: #fff;
    background-color: #24292e;
    font-family: 'Lobster Two', cursive;
}

.linkedin-button {
    height: 50px;
    width: 800px;
    border-radius: 10px;
    font-size: 35px;
    margin-top: 50px;
    cursor: pointer;


    color: #fff;
    background-color: #2867B2;
    font-family: 'Lobster Two', cursive;
}

.instagram-button {
    height: 50px;
    width: 800px;
    border-radius: 10px;
    font-size: 35px;
    margin-top: 50px;
    cursor: pointer;


    color: #fff;
    background-color: #E1306C;
    font-family: 'Lobster Two', cursive;
}

.twitter-button {
    height: 50px;
    width: 800px;
    border-radius: 10px;
    font-size: 35px;
    margin-top: 50px;
    cursor: pointer;

    color: #fff;
    background-color: #1DA1F2;
    font-family: 'Lobster Two', cursive;
}

/* ------------------------------------ */

/*FOOTER */

footer {
    margin-top: 100px;
    height: 200px;
    background-color: #14171A;
}